html,
body {
    height: 100%;
}

h1 {
    margin-bottom: 3% !important;
}

#toast-container {
    position: fixed;
    top: 100px;
    right: 2rem;
    width: 300px;
    z-index: 8000;
}

.tooltip-large::before {
    width: 20vw;
    overflow: visible;
    white-space: normal;
}

.toast {
    position: relative;
    top: 0;
    right: 0;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: large;
    margin-top: 80px;
    pointer-events: none;
}

.toast-success {
    background-color: #4caf50;
    color: white !important;
}

.toast-error {
    background-color: #f44336;
    color: white !important;
}

.title {
    margin-bottom: 0 !important;
    margin-top: 10% !important;
    font-size: 3rem !important;
}

.p-end {
    margin-bottom: 2% !important;
}

.form-links {
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.form-links a {
    margin: 0 10px;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.top-m {
    margin-top: 1% !important;
}

.down-m {
    margin-bottom: 1% !important;
}

.down-m-0 {
    margin-bottom: 0% !important;
}

.right-m {
    margin-right: 1% !important;
}

.left-m {
    margin-left: 1% !important;
}

.p-down-0 {
    padding-bottom: 0 !important;
}

main {
    margin-bottom: 5% !important;
}

.bg-primary {
    background-color: #039BCE;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-15 {
    width: 15%;
}

.p-down {
    padding-bottom: 5% !important;
}

.border-raidus {
    border-radius: 5px;
}

.title-contact {
    font-size: 3rem !important;
}

.inline-block {
    display: inline-block;
}

.confirm-dialog {
    font-family: sans-serif;
    position: fixed !important;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    border-radius: 3px;
    background: #FFF;
    max-width: 500px;
    width: calc(100% - 20px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.p-36 {
    font-size: 36px !important;
}

.p-58 {
    font-size: 58px !important;
}

.p-24 {
    font-size: 24px !important;
}

.input-disabled {
    cursor: default;
    border: 0;
    text-decoration: underline;
}

.input-date {
    cursor: pointer;
}

.double-underlines {
    text-decoration: underline double #039BCE;
    padding-bottom: 5px;
}

.one-underline {
    text-decoration: underline #039BCE;
    padding-bottom: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.bold {
    font-weight: bold;
}

.float-right {
    float: right;
}

.icon-in-list {
    display: inline !important;
    margin-right: 5px !important;
    float: right;
    margin-left: 5px !important;
    padding: 0;
}

.h-500 {
    height: 500px !important;
}

.scrollable {
    overflow-y: auto !important;
}

.bg-primary::placeholder {
    color: #fff !important;
}

.bg-primary {
    background-color: #039BCE;
    color: #fff !important;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
}

.chat-message-input {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.p-top-0 {
    padding-top: 0 !important;
}

.pointer {
    cursor: pointer !important;
}

.m-d-0 {
    margin-bottom: 0 !important;
}

.confirm-dialog {
    width: 1000px !important;
    max-width: 1000px !important;
}

.confirm-button {
    --background-color: var(--primary) !important;
    --border-color: var(--primary) !important;
    --color: var(--primary-inverse) !important;
    --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0)) !important;
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal) !important;
    border: var(--border-width) solid var(--border-color) !important;
    border-radius: var(--border-radius) !important;
    outline: none !important;
    background-color: var(--background-color) !important;
    box-shadow: var(--box-shadow) !important;
    color: var(--color) !important;
    font-weight: var(--font-weight) !important;
    font-size: 1rem !important;
    line-height: var(--line-height) !important;
    text-align: center !important;
    cursor: pointer !important;
}